/* body { */
    /* background-image: linear-gradient(rgba(0, 0, 255, 0.2), rgba(255, 255, 0, 0.2)), url("file:///home/yinglongyhy/%E5%9B%BE%E7%89%87/%E5%A3%81%E7%BA%B8/59f03208e7bce729760f4a96.jpg"); */
    /* background-image: radial-gradient(rgba(0, 0, 255, 0.2), rgba(255, 255, 0, 0.2)), url("file:///home/yinglongyhy/%E5%9B%BE%E7%89%87/%E5%A3%81%E7%BA%B8/59f03208e7bce729760f4a96.jpg"); */
    /* background-image:url("file:///home/yinglongyhy/%E5%9B%BE%E7%89%87/%E5%A3%81%E7%BA%B8/59f03208e7bce729760f4a96.jpg"); */
    /* height: 100%; */
/* } */

p {
    background-color: rgba(255, 255, 255, 0.3);
    /* background-color: rgba(0, 0, 0, 0.3); */
    height: 100%;
    font-weight: 400;
}